# 30天學會Pandas

In [2]:
import  pandas as pd

## 第一天 Big Countries
### 從Dataframe中，篩選出大國，符合以下兩點即為大國
1.國家的面積至少為三百萬平方公里（即 3000000 km2）。
>  
2.國家的人口至少為兩千五百萬人（即 25000000）。

In [12]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})
world

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [23]:
def filter_world(world:pd.DataFrame) -> pd.DataFrame:
    condition=(world["area"] >= 3000000) | (world["population"] >= 25000000)
    filter=world[condition]
    filter=filter[["name","population","area"]]
    return filter

In [24]:
filter_world(world)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

## 第二天 Recyclable and Low Fat Products
### 從Dataframe中，查找同時為low_fats和recyclable的ID

In [26]:
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [32]:
def find_products(products:pd.DataFrame):
    condition=(products['low_fats']=="Y") & (products['recyclable']=="Y")
    filter=products[condition]
    filter=filter[["product_id"]]
    return filter

   product_id
1           1
3           3

## 第三天 Customers Who Never Order
### 從Dataframe中，查找沒有訂購任何產品的客戶

In [35]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})
print(customers)
print(orders)

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max
   id  customerId
0   1           3
1   2           1

In [47]:
def find_customers(orders:pd.DataFrame,customers:pd.DataFrame) -> pd.DataFrame:
    condition=orders["customerId"]
    filter=customers[~customers["id"].isin(condition)]
    filter=filter[["name"]]
    filter=filter.rename(columns={"name":"customers"})
    return filter

In [48]:
find_customers(orders,customers)

  customers
1     Henry
3       Max

## 第四天 Article Views I
### 從Dataframe中，查找至少瀏覽過一篇自己文章的作者

In [3]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})
views

   article_id  author_id  viewer_id  view_date
0           1          3          5 2019-08-01
1           1          3          6 2019-08-02
2           2          7          7 2019-08-01
3           2          7          6 2019-08-02
4           4          7          1 2019-07-22
5           3          4          4 2019-07-21
6           3          4          4 2019-07-21

In [25]:
def find_viewers(views:pd.DataFrame) -> pd.DataFrame:
    views=views[views["author_id"]==views["viewer_id"]]
    views=views.drop_duplicates(subset="viewer_id",ignore_index=True)
    test=views["viewer_id"].sort_values()
    test=pd.DataFrame({"id":test})
    return test

In [26]:
find_viewers(views)

   id
1   4
0   7

## 第五天 Invalid Tweets
### 從Dataframe中，查找content 大於15的無效推文

In [3]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})
tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [21]:
def count(df):
    return len(df)

def invalid_tweets(tweets:pd.DataFrame) -> pd.DataFrame:
    tweets["len"]=tweets["content"].apply(count)
    conditon=tweets["len"]>15
    filte=tweets[conditon]
    filte=filte[["tweet_id"]]
    return filte

In [22]:
find_tweets(tweets)

   tweet_id
1         2